@charset "utf-8";


body {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

header {            
            display: flex;
            flex: 100%;
            flex-direction: row;
            height: 40px;
            padding: 0;
            background-color: #8dcdb0;
    
}

header > p {
    flex: 1;
            text-align: center;
            font-family: "Goudy Stout", "Georgia";
            font-size: 1.2em;
            color: white;
            margin-top: 8px;
            margin-bottom: 14px;
}

nav {
            flex: 1;
            display: flex;
            justify-content: space-evenly;
            padding: 12px;
}

nav > a {
            text-decoration: none;
            font-family: sans-serif;
            font-size: 0.8em;
            color:white;
}

nav > a:hover {
    color: #3a9a8b;
}

.h1 {
            font-family: "Today Easter", "Vanger", "Georgia";
            text-align: center;
            font-size: 3em;
            color: #e1b12d;    
}

div > h2 {
            font-family: "Today Easter", "Vanger", "Georgia";
            font-weight: bold;
            text-align: center;
            font-size: 1.6em;    
}

div > h3 {
            font-family: "Georgia";
            font-style: italic;
            font-weight: bold;
            text-align: center;
            font-size: 1.1em;
            margin-bottom: 5px;
}

.pageSection {
            display: flex;
            flex-direction: column;
            padding-left: 70px;
            padding-right: 70px;
            padding-top: 20px;
            padding-bottom: 20px;    
}

footer {
    height: 35px;
    background-color: #8dcdb0;
    width: 100%;
}

footer > p {
            font-family: "Today Easter", "Vanger", "Georgia";
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
            color:white;
            padding: 6px;
}

.castlist {font-family: "Georgia";
            font-variant-caps: small-caps;
            font-size: 0.8em;
            text-align: center;
            color:#2c7180;
            margin-top: 0;
            margin-bottom: 15px;
    
}

.stage {
            font-family: "Georgia";
            font-size: 0.8em;
            font-style: italic;
            text-align: justify;
            margin-bottom: 8px;
}

.speaker {
            font-family: "Georgia";
            font-variant-caps: small-caps;
            font-size: 0.9em;
            text-align: center;
            color: #586365;
            margin: 0;
}
            
.lines {
            text-align: justify;
            font-family: "Georgia";
            text-decoration: none;
            font-size: 0.9em;
            line-height: 1.5;
}            

.w {
outline: none;
text-decoration:none;}
.w:link {color: black;}  
.w:hover {color: #b5206a;}
.w:visited {color:black;}

.pc {
outline: none;
text-decoration:none;}
.pc:link {color: black;}  
.pc:hover{color: #f0a03d;}
.pc:visited{color:black;}

.emph {outline: none;
text-decoration:none;}
.emph:link {color:black;}
.emph:hover {color: #579dad;}
.emph:visited {color:black;}

.seg {
outline: none;
    text-decoration:none;}
.seg:link {color: black;}    
.seg:hover {border-bottom: 1px solid;
background: #ffe596;
color: #826002;}

.listTitle{
    margin-bottom: 1px;
    font-style: italic;}
    
table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #8a6603;
            margin-top: 20px;
            background-color: #e1b12d;
}

table > caption {
            font-family: "Georgia";
            font-style: italic;
            font-weight: bold;
            text-align: center;
            font-size: 1em;
            color: #8a6603;
            margin-bottom: 12px;}

.thead { 
            font-family: sans-serif;
            font-size: 0.8em;
            font-weight: bold;
            color: white;
            text-align: center;}
            
table > tbody > tr {
    border: 1px solid #8a6603;
}            
            
.pers1 {            
            font-family: sans-serif;
            font-size: 0.9em;
            font-weight: bold;
            text-align: center;
            color: white;
            background-color: #e1b12d;}
            
.pers2 {            font-family: sans-serif;
            font-size: 0.9em;
            font-weight: bold;
            text-align: center;
            color: black;
            background-color: #f0d795;}            

.td1 {           font-family: sans-serif;
            font-size: 0.8em;
            font-style: italic;
            color: white;
            text-align: left;
           background-color: #e1b12d;}
                      
           
.td2 {            font-family: sans-serif;
            font-size: 0.8em;
            font-style: italic;
            text-align: left;
            background-color: #f0d795;}
            
.t1 {           font-family: sans-serif;
            font-size: 0.9em;
            color: white;
            text-align: center;
           background-color: #e1b12d;}
           
.t2 {           font-family: sans-serif;
            font-size: 0.9em;
            text-align: center;
           background-color: #f0d795;}           

.listin {
padding: 20px;    
}

.it {
margin-top: 3px;
margin-bottom: 3px;}